/* ======= Hero Section ======= */
.hero-section {
    min-height: 600px;
    max-height: 600px;
    background: $text-color;
    position: relative;

    .figure-holder-wrapper {
        position: absolute;
        left:0;
        bottom: 0;
        width:100%;
        overflow:hidden;
    }
    .figure-holder {
        position: relative;
        height: 600px;
        width: 100%;

        .figure-image {
            position: absolute;
            bottom: 0;
            right: 15px;
            z-index:10;
        }
    }
}

.hero-carousel {
    height: 600px;
    color: #fff;

    .carousel-inner {
        .carousel-item {
            height: 600px;
            background-position: center center;
        }
        .item-1 {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/cdt/m210Ground.png');
            @include background-size(cover);
        }
        .item-2 {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/cdt/m210Line.png');
            @include background-size(cover);
        }
        .item-3 {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/cdt/m210AndWorkers.png');
            @include background-size(cover);
        }
        .item-4 {
            background-image: url('../images/cdt/manAtDesk.png');
            @include background-size(cover);
        }
        .item-6 {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/cdt/SandR.jpg');
          @include background-size(cover);
          background-attachment: fixed;
          background-position: center;
        }
        .item-7 {
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/cdt/aerialRoofSingle.jpg');
          @include background-size(cover);
          background-attachment: fixed;
          background-position: center;
        }
				.item-8 {
					background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/cdt/m210Drone2.png');
					@include background-size(cover);
					background-attachment: fixed;
					background-position: center;
				}
        .item-9 {
          @media (max-width: 767.98px) {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url('../images/cdt/utilitiesBanner.png');
            @include background-size(auto 100%);
            background-attachment: fixed;
            background-position: center;
          }
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url('../images/cdt/utilitiesBanner.png');
          @include background-size(cover);
          background-attachment: fixed;
          background-position: center;
        }


        .heading {
            font-size: 30px;
            line-height: 1.4;
            font-weight: bold;
            margin-top:0;
            margin-bottom: 15px;
        }

        .intro {
            font-size: 18px;
            & + .btn {
                margin-top: 15px;
            }
        }
    }

}
