/* normalize some important tags */

body {	
	scroll-behavior: smooth;	
}
.content-wrapper-sbp {
	position: relative;
	z-index: 5;
	overflow: hidden;
}
.content-wrapper-sbp * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content-wrapper-sbp a {
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}

.content-wrapper-sbp h1, .content-wrapper-sbp h2, .content-wrapper-sbp h3, .content-wrapper-sbp h4, .content-wrapper-sbp h5, .content-wrapper-sbp h6 {
	margin:0;			   
}
.content-wrapper-sbp p {
	margin:0;
}
.content-wrapper-sbp ul {
	margin:0;
	padding:0;
}
.content-grids {
	word-wrap:break-word !important;
  	overflow:hidden;
}

/* clear float div recurring */
div.clearboth {
	clear:both !important;
	height:0 !important; 
	line-height:0 !important; 
	font-size:0 !important; 
	padding:0 !important; 
	margin:0 !important;
}


/*----start-container---*/
.container-sbp {
  margin-right: auto;
  margin-left: auto;
  overflow:hidden;
}


/* back link */
div.back_link a {
	display:inline-block;
	-moz-transition: color .2s ease-out;
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out;
}
div.back_link a:hover {
	-moz-transition: color .2s ease-out;
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out;
}
.arrow-left {
	width: 0 !important; 
	height: 0 !important; 
	border-top: 4px solid transparent !important; 
	border-bottom: 4px solid transparent !important; 
	display: inline-block !important; 
	margin-bottom: 3px; 
	-moz-transition: color .2s ease-out;
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out;
}
.arrow-left:hover {
	width: 0 !important; 
	height: 0 !important; 
	border-top: 4px solid transparent !important; 
	border-bottom: 4px solid transparent !important; 
	display: inline-block !important; 
	margin-top: 1px !important; 
	-moz-transition: color .2s ease-out;
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out;
}

/* search form style */
.search-form-sbp {
	width: 65%;
	position:relative;
}
.search-form-sbp form input[type="text"] {	
	padding: 5px 6px;
	font-weight: 400;
	font-size: 1em;
	border: none;
	outline: none;
	font-family: 'Oswald', sans-serif;
	width: 87%;
	display: inline;
	margin: 0;
	box-shadow:none;
}
.search-form-sbp form input[type="submit"] {
	background: url('../images/search.png')no-repeat 0px 0px;
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
	outline: none;
	position: absolute;
	top:23%;
}
/*----*/

.content-main {
	padding-left:0;
	width: 66.66666667%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
}


/* share buttons style */
div.share_buttons {
	float: right;
}

div.dist_date_text {
	clear:both !important;
	line-height:0 !important; 
	padding-top: 0 !important; 
	margin:0 !important;
	height: 0px !important;	
}

.post-info {
	background:#fff;
	padding:2em;
}
.post-info h4 {
	color:#afafaf;
	font-family: 'Oswald', sans-serif;
}

/* title style in the list of posts */
.post-info h4 a {
	margin-right:0.7em;
	display:inline-block;
	text-decoration:none !important;
	text-transform:uppercase;
}
.post-info h4 a:hover {
	/*color: #4a5054;*/
}

div.dist_title_date {
	clear:both !important; 
}
div.list_dist_title_date {
	clear:both !important; 
}

/* date style in the list of posts */
div.list_date_style a {
	margin: 0 !important;
	text-decoration: none;
}
div.list_dist_date_text { 
	clear:both !important; 
}

/* text style in the list of posts */
.post-info div.list-post-text { 
	padding: 0;
}
.post-info div.list-post-text img { 
	display: none;
}
.post-info a span {
	background: url(../images/more.png) no-repeat 0px 3px;
	height: 18px;
	width: 15px;
	display: inline-block;
	margin-right: 7px;
	margin-bottom: -1px;
}
.post-info a {
	display: inline-block;
}
.post-info a:hover {
	display: inline-block;
}


.single-main {
	margin-bottom: 1em;	
	padding-left: 0px;	
	padding-right: 15px;	
	width: 66.6666%;
	float:left;
}

/* post text style */
div.post-text {
	margin: 0 !important;	
}

/* post text links style */
div.post-text a, div.list-post-text a {
	-webkit-transition: color .3s ease-out;
	transition: color .4s ease-out;
}
div.post-text a:hover, div.list-post-text a:hover {
	-webkit-transition: color .3s ease-out;
	transition: color .4s ease-out;
}
/* post text images style */
div.post-text img {
	max-width: 100% !important;
	height: auto !important;
}
/* post text iframe style */
div.post-text iframe {
	max-width: 100% !important;
}

/* post text blockquote style in the post message text */
div.post-text blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
div.post-text blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
div.post-text blockquote p {
  display: inline;
}
.post-text ul {
	padding: 20px;
	list-style-type: disc;
}
/* post text to tags distance */
div.post-text-to-tags {
	padding: 0 !important; 
	line-height: 0px !important;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.content-grid-info {
	position: relative;
	/*line-height: 0px;*/
}
.content-grid-info img {
	width:100%;
	display: block;
}
.post-info:before, .post-info:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.post-info:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
.blog_tags a:hover {
	-webkit-transition: color .3s ease-out;
	transition: color .3s ease-out;
}


/*----*/
.content-right {
	padding-left: 1em;
	width: 33.3333%;
	float: left;
}
.recent, .archives, .categories, .search-form-sbp {
	margin-bottom:3em;
}
.recent h3, .archives h3, .categories h3 {
	margin-bottom:0.5em;
}
.recent ul li, .archives ul li, .categories ul li {
	display:block;
}
.recent li a, .archives ul li a, .categories ul li a {
	text-decoration: none;
	padding: 7px 0 0 0;
	display:inline-block;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
/*----*/


/*----*/
.single-grid h4 {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	outline: 0;
}
div.date_style a { 
	text-decoration: none;
}

.single-image-top {
	margin-bottom: 0.8em;	
}

.single-grid img {
	width:100%;
}
ul.comment-list {
	padding: 2em;
	list-style: none;
}
h5.post-author_head {
	margin: 0 0 1em;
}
h5.post-author_head span {

}
ul.comment-list img {
	float: left;
	width: 10%;
	margin-right: 20px;
}
.desc div {
	line-height: 1.6;
	display: inline-block;
	word-break:break-all;
}
.desc div a {
	color: #00aeff;
	font-family: 'Lato', sans-serif;
}
.desc div a:hover {
	color: #848484;
}
.content-form form input[type="text"], .content-form form textarea {
	padding: 10px 15px;
	width: 100%;
	outline: none;
	display: block;
	margin: 10px 0;
}
.content-form form textarea {
	height: 200px;
	resize: none;
}
.content-form form input[type="submit"] {
	padding: 0.4em 1.5em;
	text-decoration: none;
	display: inline-block;
	margin-top: 1em;
	outline: none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.content-form form input[type="submit"]:hover {
	
}
.content-form h3 {
	margin-bottom: 1em;
	text-decoration: none;
	display: block;
}
.content-form .phpcaptcha {
	max-width: 286px;
}

/* PAGINATION STYLE START */
nav.sbp_paignation {
	padding-bottom: 1em;
	float: none !important;
	width: auto !important;
	margin: 0 !important;
}
.sbp_paignation .pager-sbp, .sbp_prevnext .pager-sbp {
	line-height: 1.6em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	list-style: none;
}
nav.sbp_paignation ul li {
	letter-spacing: normal !important;
	margin: 0;
	width: auto !important;
	display: inline !important;
	float: none !important;
}
.sbp_paignation .pager-sbp li > a, .sbp_paignation .pager-sbp li>span, .sbp_prevnext .pager-sbp li > a {
	display: inline-block;
	padding: 6px 15px;
	border: none;
	border-radius: 0px;
	margin-right: 10px;
	border-color: transparent;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	-webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.15);
	box-shadow: 0 2px 7px rgba(0,0,0,0.15);
	outline: 0;
	text-decoration: none;
}
.sbp_paignation .pager-sbp li > a:hover, .sbp_paignation .pager-sbp li > a:focus, .sbp_prevnext .pager-sbp li > a:hover {
	text-decoration:none;
}
.sbp_paignation .pager-sbp .active span {
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
}
.pager-sbp li {
    display: inline;
}
.sbp_paignation .pager-sbp a.mobPag {
	color: #1B242F;
	text-decoration: none;
}
.sbp_paignation .pager-sbp a.mobPag:hover {
	color: #1B242F;
	text-decoration: underline;
}
@media(max-width: 459px) {
	nav.sbp_paignation ul.pager-sbp li.mobPag, nav.sbp_paignation ul.pager-sbp a.mobPag {
		display: none !important;
	}
	.sbp_paignation .pager-sbp { 
		font-size: 1.6em;
		padding-top: 1em;
	}
}
/* PAGINATION STYLE END */

div.word_Comments {
	padding-bottom: 0px;
	clear:both;
	text-align: left !important;
}
.sbl-no-comments-posted {
	padding-bottom: 2em !important;
}

/*----responsive-layout-start---*/
@media(max-width:1440px) {
	.content-main {
		width: 66.6666%;
		float:left;
	}
	.single-main {
		width: 66.6666%;
		float:left;
	}
	.content-right {
		width: 33.3333%;
		float: left;
	}
}

@media(max-width:1024px) {
	.content-main {
		width: 73%;
		float:left;
	}
	.single-main {
		width: 73%;
		float:left;
	}
	.content-right {
		width: 27%;
		float: left;
	}
}

@media(max-width:992px) {	
	.content-main {
		width: 100%;
		float: none;
		padding: 0px;
		max-width: 100%;
	}
	.single-main {
		width: 100%;
		float: none;
		padding: 0px;
	}
	.content-right {
		width: 100%;
		float: none;
		max-width: 100%;
		padding: 0 15px;
	}
	.recent, .archives, .categories {
		margin-bottom:2em;
		width: 50%;
		float: left;
	}
}

@media(max-width:768px) {
	.content-grids {
		margin-top: 3em;
		margin-bottom: 1.5em;
	}
	.content-main {
		width: 100%;
		padding:0;
		max-width: 100%;
	}
	.content-grid-info img {
		width:100%;
	}
	.content-right {
		width: 100%;
		margin-top:2em;
		padding: 0 0 0 1.5%;
		max-width: 100%;
	}
	.recent, .archives, .categories {
		margin-bottom:2em;
		width: 50%;
		float: left;
	}
	.single-main {
		padding:0;
	  	margin-bottom: 2em;	
		width: 100%;	
		max-width: 100%;
	}
	/*.single-grid p {
		font-size: 0.95em;
	}*/
	.content-grid-info {
	  	margin-bottom: 2em;
	}	
}


@media(min-width:993px){
	.displayNoneOver992 {
		display: none;	
	}
	.search-form-sbp {
		width: 100%;
	}
}
@media(max-width : 992px) {
	.displayNoneUnder992 {
		display: none;	
	}
	.search-form-sbp {
		width: 66%;
	}
}

@media(max-width:640px){
	.search-form-sbp form input[type="submit"] {
		top:24%;
		background-size:83%;
	}
	.search-form-sbp form input[type="text"] {
		padding: 6px 0 6px 6px;
		font-size:0.85em;
		width: 91%;
	}
	div.back_link a {
		font-size: 1.4em;
	}
	div.back_link a:hover {
		font-size: 1.4em;
	}
	.arrow-left {
		margin-bottom: 5px !important; 
	}
	.post-info h4 {
		font-size: 0.7em;
	}
	.post-info h4 a {
		font-size: 1.7em;
	}
	.post-info h4 a:hover {
		font-size: 1.7em;
	}
	.post-info {
		padding: 1.5em;
	}
	.post-info a {
		font-size: 1em;
	}
	
	div.list_date_style {
		font-size: 0.9em;
	}
	div.list_date_style a {
		font-size: 0.9em;
	}
	div.list_date_style a:hover {
		font-size: 0.9em;
	}
	
	.content-grids {
		margin-top: 2.5em;
		margin-bottom: 1.3em;
	}
	.post-info div.list-post-text {
		font-size: 0.85em;
	}
	.post-info a {
		font-size: 0.85em;
	}
	.post-info a span {
		vertical-align: top;
	}	
	.single-grid h4 {
		font-size: 1.4em;
		line-height: 1.5;
	}
	div.date_style, div.date_style a { 
		font-size: 0.85em; 
	}
		
	.content-right {
		margin-top:1.5em;
		padding: 0 0 0 1.8%;	
	}
	.recent, .archives, .categories {
		margin-bottom:2em;
		width: 100%;
		float: none;
	}
	.recent h3, .archives h3, .categories h3 {
		font-size: 1em;
	}
	.recent li a, .archives ul li a, .categories ul li a {
		font-size: 0.85em;
	}
	.desc div {
		font-size: 1em;
	}
	h5.post-author_head {
		font-size: 1.2em;
	}
	ul.comment-list {
		padding: 1.5em;
		margin: 2em 0;
	}
	.content-form h3{
		font-size:1.2em;
	}
	.content-grid-info{
	  	margin-bottom: 2em;
	}
}
@media(max-width:480px){
	.search-form-sbp {
		width: 80%;
	}
	.search-form-sbp form input[type="text"] {
		padding: 7px 6px;
		font-size:0.8em;
		width: 100%;
	}
	.search-form-sbp form input[type="submit"] {
		top: 25%;
		background-size: 74%;
		right: 2%;
	}
	div.back_link a {
		font-size: 1.4em;
	}
	div.back_link a:hover {
		font-size: 1.4em;
	}
	.arrow-left {
		margin-bottom: 5px !important; 
	}
	.post-info h4{
		font-size: 0.6em;
	}
	.post-info h4 a {
		font-size: 1.8em;
	}
	.post-info h4 a:hover {
		font-size: 1.8em;
	}
	.post-info div.list-post-text {
		font-size: 0.8em;
	}
	.post-info a {
	font-size: 0.8em;
	}
	.post-info a span {
		width: 12px;
		background-size: 100%;
		vertical-align: text-bottom;
	}	
	div.list_date_style {
		font-size: 0.8em;
	}
	div.list_date_style a {
		font-size: 0.8em;
	}
	div.list_date_style a:hover {
		font-size: 0.8em;
	}		
	.single-grid h4 {
		font-size: 1.3em;
		line-height: 1.4;
	}
	div.date_style, div.date_style a { 
		font-size: 0.8em; 
	} 	
		
	.content-right {
		margin-top:1.5em;
		padding: 0 0 0 2%;	
	}
	.recent, .archives, .categories {
		margin-bottom:2em;
		width: 100%;
		float: none;
	}
	.recent h3, .archives h3, .categories h3 {
		font-size: 0.95em;
	}
	.recent li a, .archives ul li a, .categories ul li a {
		font-size: 0.79em;
	}
	/*.single-grid p {
		font-size: 0.95em;		
	}*/
	.content-grid-info {
	  	margin-bottom: 1.5em;
	}
	div.share_buttons {
		padding-top: 1em;
		float:none;
	}

}
@media(max-width:320px) {
	.search-form-sbp {
		width: 100%;	
	}
	.search-form-sbp form input[type="text"] {
		padding: 7px 6px;
		font-size: 0.8em;
	}
	div.back_link a {
		font-size: 1.4em;
		margin-bottom: 0.5em;
		margin-right: 1.7em;
	}
	div.back_link a:hover {
		font-size: 1.4em;
		margin-bottom: 0.5em;
		margin-right: 1.7em;
	}
	.arrow-left {
		margin-bottom: 5px !important; 
	}
	.post-info {
		padding: 1em;
	}
	.post-info h4 a {
		font-size: 1.8em;
		margin-bottom: 0.5em;
		margin-right: 1.7em;
	}
	.post-info h4 a:hover {
		font-size: 1.8em;
		margin-bottom: 0.5em;
		margin-right: 1.7em;
	}		
	div.list_date_style {
		font-size: 0.7em;
	}
	div.list_date_style a {
		font-size: 0.7em;
	}
	div.list_date_style a:hover {
		font-size: 0.7em;
	}
	.post-info div.list-post-text {
		font-size: 0.77em;
		overflow: hidden;
		margin-bottom: 0.5em;
	}		
	.single-grid h4 {
		font-size: 1.2em;
		line-height: 1.3;
	}	
	.content-right {
		margin-top:1.5em;
		padding: 0 0 0 2.2%;	
	}	
	.recent, .categories {
		margin-bottom: 1.5em;
		width: 100%;
	}
	.archives {
		display:none;
	}
	/*.single-grid p {
		font-size: 0.85em;
	}*/
	ul.comment-list {
		padding: 1em;
		margin: 1em 0;
	}
	h5.post-author_head {
		font-size: 1em;
	}
	.desc div {
		font-size: 0.8em;
		margin-top: 0em;
	}
	.content-form form input[type="text"], .content-form form textarea {
		padding: 6px 10px;
		font-size: 0.8em;
	}
	.content-form form textarea {
		height: 135px;
	}
	.content-form h3 {
		font-size: 1.1em;
	}
	.content-form .phpcaptcha {
		max-width: 100%;
	}
}

/* comment message style */
div.comment_message {
	padding:10px !important;
	color:red !important;
	font-weight:bold !important;	
}

/* captcha image fields styles start */
.form_captcha {
	color: #000000 !important;
	background-color: #FFF !important; 
	font-family: Helvetica !important;
	font-size: 16px !important;		
	font-weight: normal !important; 
	font-style: normal !important; 	
	padding:6px;	
	border: solid 1px #dadada !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin: 0 !important;
}
.form_captcha:focus, .form_captcha:active {
	border: solid 1px #03A9F4 !important;
}
	.form_captcha_img {
		display:block;
		float:left;
	}
	.form_captcha_eq {	
		float: left;
		padding-top: 8px !important;
		padding-left: 3px !important;
		padding-right: 3px !important;
		font-size: 30px !important;
		color: #666;
		font-weight: normal !important;
		line-height: 0.8 !important;
		font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	}
	.form_captcha_math {		
		width:40px !important;
		display:block;
		float:left;
		margin-top:4px;
		/* height:28px; */
		font-size:17px; 
		text-align:center;
		padding: 8px !important;
	}
	.form_captcha_s {
		width:86px !important;
		/*height:23px;*/
		display:block;
		float:left;
		margin-left: 10px !important;
		padding: 8px !important;
	}
	.form_asterisk {
		float:left;
		padding-left:5px;
		padding-top:10px;
	}
	

/* scroll to top styles */
.cd-top {
	display: inline-block;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
	z-index: 9999;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top:hover {
	
}
.cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
}
.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    right: 30px;
    bottom: 30px;
  }
}
/* scroll to top style end */
